.row.bg-title
  .col-lg-12
    %h4.page-title Charity Locations management
    %ol.breadcrumb
      %li
        %a{:href => "/"} Dashboard
      %li
        = link_to 'Charity locations', backend_charity_locations_path
      %li.active Charity Location details
  / /.col-lg-12
/ row
.row
  .col-lg-12
    .white-box
      %h3= @charity_location.location_name
      %h5= @charity_location.status ? "Active" : "Inactive"
      %p= @charity_location.created_at.strftime('%a %m-%d-%Y at %H:%M %P')
      = link_to 'Edit', edit_backend_charity_location_path(@charity_location)
      = link_to 'Back', backend_charity_locations_path, class: 'btn btn-sm btn-warning'

.row
  .col-lg-12
    .white-box
      %h3 Listing Charities
      .box-header.row
        .col-md-6
          &nbsp;
        .col-md-6
          .btn-group.pull-right
            = link_to new_backend_charity_location_charity_url(@charity_location), class: 'btn btn-success' do
              %i.fa.fa-plus
              New Charity
      .table-responsive
        %table.table.table-hover.table-striped.table-bordered
          %thead
            %tr
              %th.col-sm-4 Name
              %th.col-sm-4 Status
              %td.col-sm-4 Actions
          %tbody
            - @charity_location.charities.each do |charity|
              %tr
                %td= charity.name
                %td= charity.status ? "Active" : "Inactive"
                %td
                  .btn-group
                    = link_to 'Show', backend_charity_location_charity_url(@charity_location, charity) 
                    = link_to 'Edit', edit_backend_charity_location_charity_path(@charity_location, charity) 
                    = link_to 'Destroy', backend_charity_location_charity_url(@charity_location, charity), :method => :delete, :data => { :confirm => 'Are you sure?' }


