= simple_form_for ['backend', @charity_location, @charity] do |f|
  .row
    .col-sm-12
      = f.input :name
  .row
    .col-sm-12
      = f.check_box :status
      Active
  .row

  = f.submit nil, class: 'btn btn-sm btn-success'
  = link_to 'Back', backend_charity_locations_path, class: 'btn btn-sm btn-warning'