= simple_form_for ['backend', @user] do |f|
  .row
    .col-sm-6
      = f.input :name
    .col-sm-6
      = f.input :surname
  .row
    .col-sm-6
      = f.input :email
    .col-sm-6
      = f.input :role, collection: User::VALID_ROLES
  = f.submit nil, class: 'btn btn-sm btn-success'
  = link_to 'Back', :back, class: 'btn btn-sm btn-warning'
