.row.bg-title
  .col-lg-12
    %h4.page-title User management
    %ol.breadcrumb
      %li
        %a{:href => "/"} Dashboard
      %li
        = link_to 'Users', backend_users_path
      %li.active User details
  / /.col-lg-12
/ row
.row
  .col-lg-12
    .white-box
      %h3= @user.fullname
      %h5= @user.email
      %p= @user.created_at.strftime('%a %m-%d-%Y at %H:%M %P')
      = link_to 'Back', :back, class: 'btn btn-sm btn-warning'
