!!!
%html{:lang => "en"}
  %head
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    = favicon_link_tag 'favicon.png'
    %title Donations
    = csrf_meta_tags
    = stylesheet_link_tag    'backend', media: 'all'
    = favicon_link_tag 'logo.png'
    %meta{name: "viewport", content: "width=device-width", "initial-scale": 1, "shrink-to-fit": "no"}
    %meta{"http-equiv": "x-ua-compatible", "content": "ie=edge"}
  %body
    / Preloader
    .preloader
      .cssload-speeding-wheel
    / End Preloader
    / Wrapper
    #wrapper
      / Navigation
      - if user_signed_in?
        = render 'shared/backend_topbar'
        = render 'shared/backend_sidebar'
      #page-wrapper
        .container-fluid
          = render 'shared/flash_messages'
          = yield
      %footer.footer.text-center 2016 © Myadmin brought to you by themedesigner.in
  = javascript_include_tag 'backend'
